body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Rajdhani";
  src: local("Rajdhani"),
    url("./fonts/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RajdhaniL";
  src: local("Rajdhani"),
    url("./fonts/Rajdhani/Rajdhani-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RajdhaniM";
  src: local("RajdhaniM"),
    url("./fonts/Rajdhani/Rajdhani-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"),
    url("./fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
}
